<!-- templates/registration/password_reset_complete.html -->
{% extends 'layout.html' %}

{% load static %}

{% load widget_tweaks %}

{% block title %}Password reset complete{% endblock %}

{% block content %}


<div class="container-fluid booking">
        <div class="container password_reset_text">
<h3 class="password_text">Password reset complete</h3>
<p class="password_text">Your new password has been set. You can log in now on the <a href="{% url 'login' %}">log in page</a>.</p>
    </div>
    
</div>
{% endblock %}