{% extends 'layout.html' %}
{% load static %}

<h1>Bookings</h1>

{% block content %}

<div class="container-fluid booking">
    
  
    <div class="container" id="booking_content">
        <div class="container card">
            <div class="container text_container_card">
        {% if booking.is_tutorial %}
<h3 class="booking_form_text">Group Video Tutorial Details</h3><br>
        {% else %}
   <h3 class="booking_form_text">Booking details</h3>
            {% endif %}
            
        <div class="container"><h4 class="tutorial_title">{{ booking.title }}&nbsp&nbsp</h4></div>
     {% if booking.is_tutorial %}
          <div class="container confirmed">
        {% if booking.is_confirmed %}
      <p class="confirmed">This tutorial is confirmed.&nbsp&nbsp</p><img class="check" src="/static/css/check.svg">
        {% else %}
        <p class="confirmed">This tutorial has not yet been confirmed by the requested expert. You will receive an email upon confirmation.&nbsp&nbsp<img class="x" src="/static/css/warning.svg"></p>
        {% endif %}
            
            </div>
            {% else %}
            
    <div class="container confirmed">
        {% if booking.is_confirmed %}
      <p class="confirmed">This booking is confirmed.&nbsp&nbsp</p><img class="check" src="/static/css/check.svg">
        {% else %}
        <p class="confirmed">This booking has not yet been confirmed by the requested expert. You will receive an email upon confirmation.&nbsp&nbsp<img class="x" src="/static/css/warning.svg"></p>
        {% endif %}
            
            </div>  
            {% endif %}
            
            
        <div class="container">
        <p><strong>Date:</strong> {{ booking.start_time }} EST</p>
<!--        <p>Booking made by: {{ booking.user }}</p>-->
        {% if booking.is_tutorial %}
        <p><strong>Tutorial hosted by:</strong> {{ booking.expert.first_name }}&nbsp{{ booking.expert.last_name }}</p>
            {% else %}
        <p>Scipertise expert/mentor: {{ booking.expert.first_name }}&nbsp{{ booking.expert.last_name }}</p>
            {% endif %}
        {% if booking.is_tutorial %}
            <h4 class="text_title">{{ booking.description }}</h4><br>
 <!-- ADD SPECIFIC DEETS FOR MAC TUTORIAL -->   
                {% if booking.title == 'Imaging the Dynamic Core of the Human Brain' %}
            <h4 class="bio_title"><strong>About the Tutorial</strong></h4>
           <p class="profile_text">The goal of this Scipertise tutorial is to provide participants with a better understanding of the methodologies used in the Shine, Breakspear et al. Nature Neuroscience paper by providing a walk through of the methods applied. Participants will feel more comfortable applying these analytical techniques to their own fMRI or other neuroimaging data. Attendance is limited in order to allow for an interactive experience for participants. There will be some time for questions throughout the tutorial.</p> <br>

                 <h4 class="bio_title"><strong>Topics Covered</strong></h4> 
            <p>Introduction to paper, spatiotemporal principal components analysis (PCA) methodology, manifold/embedding space, use of NeuroSynth, time-varying connectivity, graph theory/topology, Allen Brain Atlas. </p>

            <p class="profile_text"><a href="https://www.nature.com/articles/s41593-018-0312-0">Shine, Breakspear et al.</a> Human cognition involves the dynamic integration of neural activity and neuromodulatory systems. Nature Neuroscience (2019).</p><br>

<p>Attendees are invited to see Dr. Shine's <a href="https://github.com/macshine/state_space/">GitHub repository </a>for this paper in advance of the tutorial.</p>
            {% endif %}
 <!-- END ADD SPECIFIC DEETS FOR MAC TUTORIAL -->   
            
            
        {% endif %}  
            {% if not booking.is_confirmed and user.expert and booking.expert == request.user %}
            <div><a href="{% url 'booking:confirm_booking' pk=booking.pk %}"><button type='submit' class='booking_button'>Confirm Booking Request</button></a></div> 
            {% endif %}
            {% if booking.user == request.user or booking.expert == request.user %}
            <div><a href="{% url 'booking:booking_update' pk=booking.pk %}"><button type='submit' class='booking_button'>Edit Booking</button></a></div> 
            <div><a href="{% url 'booking:booking_delete' pk=booking.pk %}"><button type='submit' class='booking_button'>Delete Booking</button></a></div>   
            {% endif %}
<!-- ADD SPECIFIC DEETS FOR MAC TUTORIAL -->   
                {% if booking.title == 'Imaging the Dynamic Core of the Human Brain' %}
                     <div class="eventbrite_button">
                    <!-- Noscript content for added SEO -->
        <noscript><a href="https://www.eventbrite.ca/e/imaging-the-dynamic-core-of-the-brain-tutorial-by-mac-shine-tickets-56310316673" rel="noopener noreferrer" target="_blank"></noscript>
        <!-- You can customize this button any way you like -->
        <button class="booking_button eventbrite" id="eventbrite-widget-modal-trigger-56310316673" type="button">Reserve a Spot</button>
        <noscript></a>Buy Tickets on Eventbrite</noscript>

        <script src="https://www.eventbrite.ca/static/widgets/eb_widgets.js"></script>

        <script type="text/javascript">
            var exampleCallback = function() {
                console.log('Order complete!');
            };

            window.EBWidgets.createWidget({
                widgetType: 'checkout',
                eventId: '56310316673',
                modal: true,
                modalTriggerElementId: 'eventbrite-widget-modal-trigger-56310316673',
                onOrderComplete: exampleCallback
            });
        </script>
                </div>

                    {% endif %}
<!-- END ADD SPECIFIC DEETS FOR MAC TUTORIAL -->  
    </div>

    </div>
    </div>


    </div>
  
</div>



{% endblock %}