{% extends 'layout.html' %}
{% load static %}


{% block content %}
<div class="container-fluid booking">

{% if user.bookings %}

<div class='container'>
<div class="container" id="booking_form_text"><h3>Your scheduled video sessions:</h3></div>
   
{% for booking in user.bookings.all %}
    <div class="container card">
        <h5 class="card-title"><a href="{% url 'booking:booking_detail' pk=booking.pk %}">{{ booking.title }}</a></h5>
        <p class="card-text">Session with {{ booking.user }} on {{booking.start_time}}</p>
    </div>
    
{% endfor %}
{% for booking in user.booking_set.all %}
    
       <div class="container card">
        <h5 class="card-title"><a href="{% url 'booking:booking_detail' pk=booking.pk %}">{{ booking.title }}</a></h5>
        <p class="card-text">Session with {{ booking.user }} on {{booking.start_time}}</p>
    </div>
{% endfor %}
    
</div>



{% else %}
   

<h2>You have no bookings</h2>
    
</div>

{% endif %}




{% endblock %}


