form.form-group {
    margin-bottom: 0px;
}
a {
    color: #6e75a8;
    text-decoration: none;
}

a:hover {
    text-decoration: none!important;
}

p {
    color:#3a405a;
}

.btn-primary {
    margin: 10px 0px;
}


p.website_text {
    color: #6e75a8;
    font-family: 'Open Sans', sans-serif;
    margin-top: 5px;
}

h2#title {
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 10px;
}

img.iconic {
    height: 12px;
    width: 12px;
    fill: gray;
    stroke: gray;
   
}

ul.errorlist {
    font-size: 10pt;
    color:red;
}

input#search.form-control {
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;

   
}

/**password reset**/

.password_text {
    color: white;
    font-family: 'Open Sans', sans-serif;
}

div.container.password_reset_text {
    color: white;
    padding-top: 20px;
}

form.password_text {
    color: white;
}

/** Navbar **/

a.nav-item.nav-link {
    font-size: 10pt;
    font-family: 'Lato', sans-serif;
    padding-top: 8px;
    margin:8px;
}

input.form-control.mr-sm-2 {
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 11pt;

}

button#call_to_action.btn.btn-primary {
    padding: 10px;
    margin-right: 10px;
    background-color: #36F1CD;
    border: 1px solid #36F1CD;
    color: #3a405a;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
    width: 220px;
    text-align: center;
   
}

button#call_to_action.btn.btn-primary:hover {
 
    background-color: #363095;
    border: 1px solid #363095;
    color: white;
}

button#search.btn.btn-primary.my-2.my-sm-0 {
    padding: 6px 10px 6px 10px;
    margin-right: 10px;
    background-color: transparent;
    border: 1px solid #363095;
    color: #363095;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;
   

}

button#search.btn.btn-primary.my-2.my-sm-0:hover {
    border: 1px solid #36F1CD;
    color: #36F1CD;
}



button.btn.btn-primary.edit_profile {
    padding: 6px 10px 6px 10px;
    margin: 20px 20px 20px 0px;
    background-color: transparent;
    border: 1px solid #363095;
    color: #363095;
    border-radius: 20px;
    font-family: 'Open Sans', sans-serif;

}

button.btn.btn-primary.edit_profile:hover {
    border: 1px solid #36F1CD;
    color: #36F1CD;
}

button.btn.btn-outline-secondary {
    background-color: #363095;
    border: 1px solid #363095;
    color: white;
    border-radius: 20px;
    margin-left: 5px;
   
    font-family: 'Open Sans', sans-serif;

}

button.btn.btn-outline-secondary:hover {
    background-color: #36F1CD;
    border: 1px solid #36F1CD;
    color: white;
}


/** Main layout and home page styles **/
/*    background-size: cover;*/
/*    background-repeat: no-repeat;*/

body {

    background-image: url(scipertise_background_dark.jpg);
    background-size: cover;
    background-repeat:no-repeat;
  
 
   
}

div#site_container.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div#vision.container {
    
   
    display: flex;
    flex-direction: column;
    width: 240%;
    padding-bottom: 40px;
    text-align: center;
    
}

div#first_section_row.container-fluid {
    
    height:100%;
    padding: 60px 0px;
}

img.logo {
 
    height:48px;
    padding: 8px 12px 8px 50px;
    max-width:100%;
}


h1.value_prop {
    padding-top: 30px;
    color: white;
    font-size: 30pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    clear: right;
}

p.vision_blurb {
    padding: 20px 0px 20px 0px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
}

p.advice_blurb {
    color:white;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
}



/** Home page form styles **/

h4.form_title {
    font-family: 'Montserrat', sans-serif;
    
}

form.home_form {
    background-color: white;
    padding: 30px 80px;
    border-radius: 20px;
    margin: 0 auto;
}

p.form_text {
    padding-top: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-bottom: 0.5rem;
}

input#id_username {
    width: 280px;
    padding-top: 5px;
}

input#id_first_name {
    width: 280px;
    padding-top: 5px;
}

input#id_last_name {
    width: 280px;
    padding-top: 10px;
}

input#id_email {
    width: 280px;
    padding-top: 10px;
    margin-bottom: 20px;
}

input#id_password {
    width: 280px;
    padding-top: 10px;
    margin-bottom: 20px;
}

input.button {
    width: 280px;
    background-color: #363095;
    color: white;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

input.button:hover {
    width: 280px;
    background-color: #13acee;
    color: white;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
}

div#form.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

div#call_to_action.container {
    display: flex;
    justify-content: center;
  
}
/*

button#call_to_action.btn.btn-primary {
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 50px 10px 50px;
    background-color: transparent;
    border: 2px solid;
    border-color: white;
    color: white;
    font-size: 12pt;
}

button#call_to_action.btn.btn-primary:hover {
    background-color: transparent;
    border: 2px solid;
    border-color: #36F1CD;
    color: #36F1CD;
   
}
*/


/** Home page: How it works styles **/

div#second_section_row.container-fluid {
    
    background-color: white;
    width:100%; 
    margin: 0 auto;
    padding: 100px 0px 200px 0px;

}

div#howitworks.container-fluid {
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}

.divtitle {
    width: 100%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    font-weight: 500;
    color: #6e75a8;
}

div#step1.container {

    padding: 0px 20px;
    display: flex;
    flex-direction: column; 
    margin: 10px;
    

}
div#step2.container {
    
     padding: 0px 20px;
     display: flex;
     flex-direction: column; 
  margin: 10px;
    
    
}
div#step3.container {
    
     padding: 0px 20px;
     display: flex;
     flex-direction: column; 
  margin: 10px;
    
    
}

.icon1 {
    width: 120px;
    height: 110px;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
.icon2 {
    width: 120px;
    height: 110px;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
.icon3 {
    width: 120px;
    height: 110px;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}

h4.icon_title {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-size: 15pt;
    color: #3a405a;
   
 
}

p.icontext {
   font-family: 'Open Sans', sans-serif;
    text-align: center;
    height: 50px;
    border-top: 2px solid #36F1CD;
    padding:5px;
    width: 320px;
    margin:0 auto;
    font-size: 12pt;
}
/** Home page: Section 3 styles **/

div#section3_signup.container {
    color: black;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    padding: 50px;
    margin-top: 30px;
}

h2.section3_text {
    color: white;
    padding-bottom: 20px;
}

/** Sign-Up Page Styles **/

.call_to_action {
    width: 100%;
}

h3.call_to_action {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    color: #4C5280;
    padding-bottom: 20px;
    
}

div#signup.container-fluid {

   
    border-radius: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#a0def8;
    background-image: linear-gradient(to bottom, #a0def8, #363095);
    padding: 10px;
    margin: 0 auto;
    overflow-y:scroll;
    
}

div#change_password.container-fluid {

    background-color:#a0def8;
    margin: 0 auto;
    
}

div.signup_bgrd {
    background-color: white;
    padding: 40px;
    margin: 33px auto;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;

}

div#third_section_row.container-fluid {
    padding: 80px 0px;
    

}

/** Login Page Styles **/

div#login.container-fluid {
  padding: 10px;
  display: flex;
align-items: center;
  justify-content: center;
   background-color:#363095;
    background-image: linear-gradient(to bottom, #363095, #a0def8);
    height: 100%;
    margin: 0 auto;
    overflow-y:scroll;
  
}

div.login_bgrd {
    background-color: white;
    padding: 50px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}

/** Profile Page Styles **/

a.join_group {
    color: #363095;

}

a.join_group:hover {
    color: #6e75a8;
    text-decoration: none;

}

h3.password_done {
     font-family: 'Montserrat', sans-serif;
    font-size: 24pt;
    color: white;
    
}

p.password_done {
     font-family: 'Montserrat', sans-serif;
    color: white;
    
}

div.container.password_done {
    padding: 20px;
}


div.container.spacer {
    width: 4%;
}

div#edit_profile.container {
    width:70%;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    height: 100%;
  
    margin: 0 auto;

    
}
.profile_image_page {
    width: 70%;
    margin: 40px;
    background-color: white;
    border-radius: 20px;
    padding: 20px;
    
}


/*
form.signup_form {
    width: 60%;
    background-color: white;
    margin: 0 auto;
}
*/

h3.edit_profile_subheading {
    padding: 30px 0px 20px 0px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

div#profile_container.container-fluid {

   
    padding:30px;
    background-color:#eaebf2;
  
/*    background-image: linear-gradient(to bottom, #363095, #a0def8);*/
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    min-height: 100%;
 
}

div#profile_intro.container {
  
    display: flex;
    flex-direction: row;
    border-radius: 5px;
 
    margin-bottom: 5px;
    padding:0px;
    margin: 10px 20px 0px 20px;
   

}

div#expert.container {
    display: flex;
    flex-direction: row;
    background-color: white;

    background-color: white;
        border-radius: 5px;
        margin-right: 10px;
      padding: 10px 0px;
    


}


div.container.user_name {
    margin: 0px 0px 10px 10px;
}

div#availability.container {

    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 50%;
    margin: 0px;
    padding: 10px 0px;
    background-color: white;
        border-radius: 5px;  


}

div.availability_text {
    margin: 20px 20px 0px 20px;
}
div#profile_content.container {

    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
     margin: 10px 20px;
  
   
}

div.profile_content_text {
    margin: 20px 140px 20px 80px;
    
}

div.container.profile {
    display: flex;
    flex-direction: row;
}
div#tutorial_content.container {

    padding-top: 30px;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-direction: column;
   
}
div#tutorials.container {

    padding-top: 30px;
    background-color: white;
    margin: 10px auto;
    border-radius: 5px;
    padding: 10px;
    display:flex;
    flex-direction: row;
    align-content: space-between;
   
}
div.container.card {
    display: flex;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;

 
}

button.availability_button {
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 40px 10px 40px;
    margin-top: 10px;
    background-color: transparent;
    border: 2px solid;
    border-color: #39A0ED;
    color: #39A0ED;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;

}

button.availability_button:hover {
  
    background-color: transparent;
    border: 2px solid;
    border-color: #36F1CD;
    color: #36F1CD;

}

p.profile_name {
    display: inline-block;
    padding: 16px 0px 0px 0px;
    font-size: 24pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
    color:#363095;
    font-weight: 700;

  
}

p.profile_name.results {
    display: inline-block;
    padding: 0px 0px 0px 0px;
    font-size: 24pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-bottom: 0;
}

a.profile_name {
    color: #6e75a8;
    
}

a.profile_name:hover {
color: #363095;
text-decoration: none;
}


p.profile_text {
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px 0px 0px;
  
}

p.profile_text.results {
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    margin: 0px 0px 25px 0px;
  
}

div.divider {
    border-bottom: 1px solid #CBCDD4;
    padding-top: 10px;
    margin: 20px 20px 40px 0px;
    
}
div#edit_profile.divider {
    border-bottom: 1px solid #CBCDD4;
    padding-top: 10px;
    margin: 10px 5px;
    
}

h4.bio_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 16pt;
    margin: 10px 0px 15px 0px;
    color: #363095;
}

h4.tutorial_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 18pt;
    margin: 10px 0px 15px 0px;
    color: #363095;
}

h4.text_title {
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
    margin: 10px 0px 0px 0px;
    font-weight: bolder;
  
}

div#edit_profile_button.container {
   
    margin-top: 30px;
}

div.edit_profile_image_button {
    display: flex;
    align-items:center;
    justify-content: center;
    margin: 10px;
}

p.image_bubble {
    padding: 80px 40px 80px 40px;
    font-family: 'Open Sans', sans-serif;
    font-size: 10pt;
    border: 1px solid #CBCDD4;
    border-radius: 15px;
    margin-right: 5px;
}

.profile_image {
   border-radius: 20px;
   margin: 20px;
}

.bookme {
    float: right;
}

div.container.skills {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-family: 'Open Sans', sans-serif;
    padding: 0px;
  
}

div.skill_bubble {
    border-radius: 20px;
    border: solid 1px #36F1CD;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 5px;
    display:flex;
    font-size: 11pt;
   
}


div.skill_bubble:hover {
    border-radius: 20px;
    border: solid 1px #36F1CD;
    text-align: center;
    padding: 0px 10px 0px 10px;
    margin: 5px;
    display:flex;
    background-color: #36F1CD;
    text-decoration: none;  
}

a.skill_bubble {
    color: #3a405a;
}

a.skill_bubble:hover {
    text-decoration: none;
}


p.skill_bubble {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    color: #3a405a;
}
/*
p.skill_bubble:hover {
    padding: 0;
    margin: 0;
    font-size: 10pt;
    color: #6e75a8;
    text-decoration: none;
}
*/

div.edit_profile {

    border-radius: 20px;
  
    text-align: center;
    padding: 2px 10px 2px 10px;
    margin: 10px auto;
    display:flex;
   
}
/** Browse Page Styles **/

div.browse_title {
    padding-left: 8px;
}
li.page {
        padding: 5px;
}

li.active.page {
    padding: 5px;
    
}

li.disabled.page {
    padding: 5px;
}

li.disabled {
    padding:5px;
}
ul.pagination {
    text-align: center;
    padding:10px;
    margin: 10px auto;
    font-family: 'Open Sans', sans-serif;
}

ul.pagination:active {
    font-family: 'Open Sans', sans-serif;
}

div.browse_bio {
    padding-top: 20px;
}

/** Search Page Styles **/

button.search_button {
    border-radius: 20px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 30px 10px 30px;
    margin-top: 10px;
    background-color: #36F1CD;
    border: 1px solid;
    border-color: #36F1CD;
    color: white;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;

}

button.search_button:hover {
  
    filter: brightness(95%);

}

input#example-search-input.form-control {
    font-size: 12pt;
    border-radius: 20px;
    
  
}

.request_expert {
    display: flex;
    flex-direction: column;
    padding:10px;
    justify-content: center;
    align-items: flex-end;
    width: 48%;
    padding-right: 10px;
   

   
}

p.request_expert {
    font-family: 'Open Sans', sans-serif;
    margin: 5px 0px 0px 0px;
    padding: 0px;
    width: 100%;
    font-size: 11pt;
}

p.request_text {
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
    font-size: 12pt;
}

div#success.messages {
    font-family: 'Montserrat', sans-serif;
    color:#6e75a8;
    font-size: 14pt;
    text-align: center;
    
}

.input-group-text.bg-white.border-right-0 {
    border-radius: 15px;
  
}

.input-group-prepend {
    border-radius: 15px;
}

.input-group-append {
    border-radius: 15px;
}

div.input-group {
    margin-top: 0px;
}

div.input-group.browse {
    margin: 45px 10px 10px 10px;
  
}



div.container-fluid.search {
     background-color:#eaebf2;
/*    background-image: linear-gradient(to bottom, #363095, #a0def8);*/
   
    height: 100%;
    margin: 0 auto;
    overflow-y:scroll;

}



h3#search_call_to_action {
     font-family: 'Open Sans', sans-serif;
    padding-bottom: 5px;
    padding-left: 5px;
    color: #6e75a8;
    font-size: 14pt;
    margin-top: 20px;
   
  
}

div#search_form.container {

    border-radius: 10px;
    padding: 0px;   
   
}

div#search_results.container {
   
    padding: 0px;
    margin: 0px auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div#search_hit.container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid gray;
    font-family: 'Open Sans', sans-serif;
    font-size: 12pt;
    
    
}
/** Calendar Booking Styles **/

div.container.card.booking_list {
    width: 70%;
    margin: 10 auto;
    
}

div.container.confirmed {
    display: flex;
    flex-direction: row;
    align-content: flex-start;
}

p.confirmed {
    padding-top: 5px;

   
}

h3.video_sessions {
    
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14pt;
}

h3.card-title {
    padding-left: 7px;
    font-size: 14pt;
    font-weight: 600;
    padding-top: 10px;
    
}

h5.card-title {
    font-family: 'Open Sans', sans-serif;
}

p.card-text {
    font-family: 'Open Sans', sans-serif;
}

img.check {
    filter: invert(79%) sepia(69%) saturate(446%) hue-rotate(102deg) brightness(95%) contrast(98%);
    height: 25px;
    width: 25px;
    padding-top: 5px;
}

img.x {
    filter: invert(41%) sepia(97%) saturate(7245%) hue-rotate(353deg) brightness(96%) contrast(128%);
    height: 20px;
    width: 20px;
   padding-bottom: 5px;
}

img.search {
    filter: invert(41%) sepia(97%) saturate(7245%) hue-rotate(353deg) brightness(96%) contrast(128%);
    height: 20px;
    width: 20px;
    margin-top: 3px;
left: -60px;
    position: relative;
   
}

div.container.delete_booking {
    text-align: center;
}

h3.confirm_delete_title {
    text-align: center;
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding: 20px;
}

.cancel_link {
    color: white;
}

.cancel_link:hover {
    color: white;
}
button.booking_button {
    border-radius: 10px;
    text-align: center;
    margin: 5px auto;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    background-color: #36F1CD;
    border: 1px solid;
    border-color: #36F1CD;
    color: white;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;

}

button.booking_button:hover {
 filter: brightness(95%);

}

button.booking_button.eventbrite {
    border-radius: 10px;
    text-align: center;
    padding: 10px 20px 10px 20px;
    margin-top: 10px;
    background-color: #36F1CD;
    border: 1px solid;
    border-color: #36F1CD;
    color: white;
    font-size: 12pt;
    font-family: 'Montserrat', sans-serif;


}

button.booking_button.eventbrite:hover {
 filter: brightness(95%);

}

div.container.eventbrite_button {
}

div.container-fluid.booking {
 background-color:#363095;
    background-image: linear-gradient(to bottom, #363095, #a0def8);
    height: 100%;
    margin: 0 auto;
    overflow-y:scroll;
   color: #3a405a;
}

div.container.text_container_card {
    margin: 10px auto;
    width: 80%;
}

div.container.booking_list {
}

div#booking_form_text.container {
   
    
    text-align: center;
    padding: 30px 10px 0px 10px; 
}


h3.booking_form_text {
     color: #6e75a8;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

div#booking_detail_text.container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    padding: 30px 0px 0px 30px;
    
   
}

div#booking_content.container {
    font-family: 'Open Sans', sans-serif;
    color: #4C5280;
   
}

div#booking_form.container {
   
    background-color: white;
    width: 60%;
    padding:10px 40px;
    overflow-y: scroll;
    margin: 40px auto;
    border-radius: 5px;

   
  
}

div.form-group.booking_form {
  
    padding: 20px 50px 20px 50px;
    font-size: 12pt;
    font-family: 'Open Sans', sans-serif;
  
   
}
  

div#booking_call_to_action.container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
   
}

.input-group {
     padding-bottom: 10px;
}

input#id_title.form-control {
    padding-bottom: 10px;
}

label {
    padding-top: 10px;
}

small.form-text.text-muted {
    padding-bottom: 10px;
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}


div#calendar.container {
    margin: 10px auto;
}

.calendar {
  width: 98%;
  margin: 0 auto;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

tbody {
    border-radius: 5px;
}

th {
    background-color: #EBFFA2;
}

 .calendar td {
  border: 1px solid #6e75a8;
  border-radius: 5px;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

a {
  color: #6e75a8;
}

/** chat **/

* {
  box-sizing:border-box;
}

html, body {
  padding:0;
  margin:0;
  height:100%;
  width:100%;
  color:#dedede;
  background-color: #849091;
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

header {
  width:100%;
  position:absolute;
  text-align:center;
  bottom:20px;
}

header a, header a:visited {
  font-size:18px;
  color:#dedede;
  text-decoration:none;
}

header a:hover {
  text-decoration:underline;
}

section {
  height:70%;
  background-color:#2B2B2A;
}

section input {
  display:block;
  height:52px;
  width:800px;
  margin:10px auto;
  outline:none;
  background-color:#13acee;
  border:none;
  border-bottom:1px solid #2B2B2A;
  padding:0;
  font-size:42px;
  color:#eee;
}

#messages {
  background-color:#232323;
  padding:10px;
  height:100%;
  width:800px;
  margin:0 auto;
  overflow-y:auto;
}

#messages p {
  margin:5px 0;
  padding:0;
}

.info {
  margin:5px 0;
  font-style:italic;
}

.message-container {
  margin:5px 0;
  color:#fff;
}

.message-container .username {
  display:inline-block;
  margin-right:5px;
  font-weight:bold;
  color:#849091;
}

.me, .username.me {
  font-weight:bold;
  color:cyan;
}

.message-container .username.me {
  display:inline-block;
  margin-right:5px;
}



/**Footer **/

.footer-distributed{
	background-color: #3a405a;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
   
 
	width: 100%;
	text-align: left;
	font: 'Open Sans', sans-serif;
    clear: both;
    
  

	padding: 20px 50px;
	
}

.footer-distributed .footer-left p{
	color:  #F5F5F5;
	font-size: 12px;

}

/* Footer links */

a#first_link {
    padding-left: 20px;
}

.footer-distributed p.footer-links{
	font-size: 11pt;

      color: #F5F5F5;
	margin: 0px;
	padding: 0;
}

.footer-distributed p.footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-right{
	float: right;
	margin-top: 6px;
   
	max-width: 180px;
}

.footer-distributed .footer-right a{
	display: inline-block;
	width: 35px;
	height: 35px;
	
	border-radius: 2px;

	font-size: 15px;
	color: #F5F5F5;
	text-align: center;
	line-height: 35px;

	margin-left: 3px;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 600px) {

	.footer-distributed .footer-left,
	.footer-distributed .footer-right{
		text-align: center;
	}

	.footer-distributed .footer-right{
		float: none;
		margin: 0 auto 20px;
	}

	.footer-distributed .footer-left p.footer-links{
		line-height: 1.8;
	}
}



/** Media Queries **/
 @media screen and (max-width: 1200px) {   
    div.profile_content_text {
         margin: 20px 100px 20px 80px;
     }
@media screen and (max-width: 1000px) {
 div#availability.container {
     width: 600px;
     display: inline-block;
     margin-top: 10px;
    }
    
@media screen and (max-width: 1000px) {
 div.edit_profile {
     display: inline-block;
     margin: 0 auto;
     text-align: center;
    }

@media screen and (max-width: 1000px) {
 div#profile_intro.container {
    display: inline-block;
     margin: 20px;
     width: 600px;
    
        
    }
 @media screen and (max-width: 1000px) {   
    div#profile_content.container {
    display: inline-block;
        margin: 20px;
         width: 600px;
  
        
     }
@media screen and (max-width: 1000px) {
   .profile_image {
    display: none;
    
        
    }
     
     
@media screen and (max-width: 800px) {
 div#availability.container {
     width: 400px;
     display: inline-block;
     margin: 15px 10px 0px 10px;
    }
    
@media screen and (max-width: 800px) {
 div#profile_intro.container {
    display: inline-block;
     margin: 10px;
     width: 400px;
    
        
    }
@media screen and (max-width: 800px) {    
    div#expert.container {
    display: flex;
    flex-direction: row;
    background-color: white;

    background-color: white;
        border-radius: 5px;
        margin: 10px;
      padding: 10px 0px;
    }


}
 @media screen and (max-width: 800px) {   
    div#profile_content.container {
    display: inline-block;
         width: 400px;
        padding-top: 10px;
       
  
        
     }
     
 @media screen and (max-width: 1200px) {   
    div.profile_content_text {
         margin: 5px;
     }

     
 @media screen and (max-width: 1100px) {  
     div.divider {
         width: 100%;
     }
    
    
    

@media screen and (max-width: 1100px) {
    
div#howitworks.container-fluid {
    
    flex-direction: column;
    
}

@media screen and (max-width: 1000px) {
 div#site_container.container {
    flex-direction: column;
  }


@media screen and (max-width: 1000px) {
 div#vision.container {
     text-align: center;
     width: 100%;
  }
    
    
@media screen and (max-width: 600px) {
 div#vision.container {
     text-align: center;
  }
    
@media screen and (max-width: 1000px) {
 p.vision_blurb {
     font-size: 11pt;
  }
    
@media screen and (max-width: 1000px) {
 p.advice_blurb {
     font-size: 11pt;
  }
    
@media screen and (max-width: 1000px) {
 h1.value_prop {
     font-size: 28pt;
  }
@media screen and (max-width: 800px) {   
div#first_section_row.container-fluid {
    
    height:100%;
    padding: 60px 0px 0px 0px;
}
    }
@media screen and (max-width: 800px) {   
h2.section3_text {
    
   font-size: 24px;
}
    }

    
@media screen and (max-width: 800px) {   
p.advice_blurb {
    
   display: none;
}
    }
    
@media screen and (max-width: 800px) {   
img.logo {
    
   height: 45px;
    padding-left: 10px;
}
    }

        
@media screen and (max-width: 800px) {   
    div#booking_form.container {
        width: 100%;
        margin: 0px auto;
        padding: 5px;
    }
    }
    



    
    

    



