


/** Navbar **/

button.btn.btn-primary {
    padding: 8px 10px 8px 10px;
    margin-right: 10px;
    background-color: #363095;
    border: none;
    border-radius: 10px;

}

button.btn.btn-primary:hover {
    background-color: #13acee;
    border-radius: 10px;

}

/** Main layout and home page styles **/


body {
    height: 100%;
    background-image: url(scipertise_background_dark.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

div#site_container.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

div#vision.container {
    
   
    display: flex;
    flex-direction: column;
    width: 240%;
    padding-bottom: 40px;
    text-align: center;
    
}

div#first_section_row.row.pt-5 {
    
    height:100%;
    padding-bottom: 100px;
}

img.logo {
 
    height:58px;
    padding: 10px 12px 14px 50px;
    max-width:100%;
}


h1.value_prop {
    padding-top: 30px;
    color: white;
    font-size: 34pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    clear: right;
}

p.vision_blurb {
    padding: 20px 0px 20px 0px;
    color: white;
    font-family: 'PT Sans', sans-serif;
    font-size: 14pt;
}

p.advice_blurb {
    color:white;
    font-size: 14pt;
    font-family: 'PT Sans', sans-serif;
}



/** Home page form styles **/

h4.form_title {
    font-family: 'Montserrat', sans-serif;
    
}

p.form_text {
    padding-top: 20px;
    font-family: 'PT Sans', sans-serif;
    margin-bottom: 0.5rem;
}

input#id_username {
    width: 280px;
    padding-top: 5px;
}

input#id_first_name {
    width: 280px;
    padding-top: 5px;
}

input#id_last_name {
    width: 280px;
    padding-top: 10px;
}

input#id_email {
    width: 280px;
    padding-top: 10px;
    margin-bottom: 20px;
}

input#id_password {
    width: 280px;
    padding-top: 10px;
    margin-bottom: 20px;
}

input.button {
    width: 280px;
    background-color: #363095;
    color: white;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
}

input.button:hover {
    width: 280px;
    background-color: #13acee;
    color: white;
    padding: 10px;
    font-family: 'PT Sans', sans-serif;
    font-weight: 200;
}

div#form.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   
}

div#call_to_action.container {
    display: flex;
    justify-content: center;
  
}

button#call_to_action.btn.btn-primary {
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    padding: 10px 100px 10px 100px;
    background-color: #13acee;
    font-size: 14pt;
}

button#call_to_action.btn.btn-primary:hover {
    background-color: #dbfe87;
    color: #363095;
    border-radius: 10px;
}


/** Home page: How it works styles **/

div#second_section_row.row.pt-5 {
    
    background-color: white;
    width:100%;
    padding: 100px 10px 100px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 0px; 
    margin-right: 15px;
  
   
}

.divtitle {
    width: 100%;
    display:flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 30px;
    font-weight: 500;
}

div#step1.howitworks {
    display:flex;
    width: 30%;
    padding: 0px 10px 0px 10px;
    
}
div#step2.howitworks {
    display:flex;
    width: 30%;
    padding: 0px 15px 0px 15px;
    
}
div#step3.howitworks {
    display:flex;
    width: 30%;
    padding: 0px 15px 0px 15px;
    
}

.icon1 {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 15px 0px 15px 0px;
}
.icon2 {
    width: 22%;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
.icon3 {
    width: 20%;
    display: block;
    margin: 0 auto;
    padding: 10px 0px 10px 0px;
}
.smallbox {
    display: block;
    margin: 0 auto;
    height: 280px;
}

h4.icon_title {
    font-family: 'PT Sans', sans-serif;
    text-align: center;
    border-bottom: 3px solid #dbfe87;
 
}

p {
   font-family: 'PT Sans', sans-serif; 
    text-align: center;
}

p.icontext2 {
   padding-top: 20px;
}

/** Sign-Up Page Styles **/

div#signup.container {

    padding: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

div.signup_bgrd {
    background-color: white;
    padding: 40px;
    margin-top: 5px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

/** Login Page Styles **/

div#login.container {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  
}

div.login_bgrd {
    background-color: white;
    padding: 50px;
    margin-top: 50px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
}

/** Profile Page Styles **/

div#edit_profile.container {
    background-color: white;
    padding: 40px;
    margin-top: 10px;
    border-radius: 10px;
}

div#profile_container.container {
    display: flex;
    flex-direction: column;
}

div#profile_intro.container {

    background-color: white;
    border-radius: 10px;
    padding:30px;
    margin-top: 30px;
}

div#profile_content.container {

    background-color: white;
    border-radius: 10px;
    padding:30px;
    margin-top: 30px;
}

p.profile_name {
    display: inline-block;
    padding-top: 30px;
    font-size: 28pt;
    font-family: 'Montserrat', sans-serif;
  
}

p.profile_text {
    font-size: 14pt;
    font-family: 'PT Sans', sans-serif;
  
}

h4.bio_title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

div#edit_profile_button.container {
   
    margin-top: 30px;
}

.profile_image {
   border-radius: 20px;
   padding: 20px;
    float: left;
}


/** Search Page Styles **/

h3#search_call_to_action {
    font-family: 'Montserrat', sans-serif;
    
}

div#search_form.container {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    margin: 20px 0px 20px 0px;
    
}

div#search_results.container {
    background-color: #cfd1e2;
    padding: 50px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

div#search_hit.container {
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    margin-bottom: 20px;
    
    
}
/** Calendar Booking Styles **/

div#booking_form_text.container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding-bottom: 20px;
   
}

div#booking_form.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
}

form.booking_form {
    background-color: white;
    border-radius: 10px;
    padding: 30px;

}
    

div#booking_call_to_action.container {
    color: white;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    padding: 20px;
   
}

.left {
  float: left;
}

.right {
  float: right;
}

.btn {
  outline: none;
  color: black;
  background-color: transparent;
  box-shadow: 0 0 0 0;
}

.clearfix {
  margin: 15px;
}

div#calendar.container {
    margin: 10px auto;
}

.calendar {
  width: 98%;
  margin: 0 auto;
  font-size: 13px;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

tbody {
    border-radius: 10px;
}

th {
    background-color: #EBFFA2;
}

 .calendar td {
  border: 1px solid #6e75a8;
  border-radius: 10px;
}

.calendar th {
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.calendar td {
  width: 200px;
  height: 150px;
  padding: 20px 0px 0px 5px;
}

.month {
  font-size: 25px;
}

.date {
  font-size: 16px;
}

ul {
  height: 100%;
  padding: 0px 5px 0px 20px;
}

a {
  color: #17a2b8;
}


/** Media Queries **/

@media screen and (max-width: 1000px) {
 div#site_container.container {
    flex-direction: column;
  }


@media screen and (max-width: 1000px) {
 div#vision.container {
     text-align: center;
     width: 100%;
  }
    
    
@media screen and (max-width: 600px) {
 div#vision.container {
     text-align: center;
  }
    
@media screen and (max-width: 1000px) {
 p.vision_blurb {
     font-size: 11pt;
  }
    
@media screen and (max-width: 1000px) {
 p.advice_blurb {
     font-size: 11pt;
  }
    
@media screen and (max-width: 1000px) {
 h1.value_prop {
     font-size: 28pt;
  }
    

    



