{% extends 'layout.html' %}
{% load static %}

{% block title %}Browse our experts{% endblock %}

{% block content %}

<div class="container-fluid search">
        <div class="container" id="search_form">
         <div class="row">
        <div class="col-md-6">
            <form class="form-group"  action="{% url 'search:search_users' %}" method="GET" >
            <div class="input-group">
               
<!--                    <div class="input-group-text bg-white border-right-0"><i class="fa fa-search"></i></div>-->
              
                <input class="form-control" type="search" name="q" value="{{request.GET.q}}" id="example-search-input" placeholder="Enter a skill, technique, software or area of expertise">
               
                <button class="btn btn-outline-secondary border-left-0 border" type="submit" name="submit" value="Search">
                    Search
                </button>
           
            </div>
                </form>
        </div>
    </div>
        </div>
        
        <div class="container" id="search_results">
<!--        <h3 class="call_to_action">Find a Researcher with the Right Expertise</h3>-->

        {% for expert in object_list %}
            {% if expert.profile_approved == True %}  
            {% if expert.bio %}
        <div class="container" id="search_hit">
            
        <div class="container" id="expert">
            {% if expert.image %}
            <div>
                <img class="profile_image" src="{{ expert.image.url }}" width="100"/>
            </div>
            {% endif %}
            <div class="container user_name">
            
        <!-- added an if statement so that if not logged in then you can't click on expert profile because of bug -->
                
            {% if user.is_authenticated %}
            <p class="profile_name results"><a class="profile_name" href="{% url 'profile_with_pk' pk=expert.pk %}">{{ expert.first_name }}&nbsp{{ expert.last_name }}</a></p>
            {% else %}
                 <p class="profile_name results"><a class="profile_name" href="{% url 'signup' %}">{{ expert.first_name }}&nbsp{{ expert.last_name }}</a></p>  
             {% endif %}
                
            <p class="profile_text results">{{expert.position}}</p>
<!--            <p class="profile_text">Skills:&nbsp{{user.skills.all|join:", "}}</p>-->
    
                
                <div class="container skills">
                {% for skill in expert.skills.all %}
                    <a class="skill_bubble" href="{% url 'skills' skill.name %}"><div class="skill_bubble"><p class="skill_bubble">{{ skill.name }}</p></div></a>
                {% endfor %}
                </div>
                 <div class="browse_bio"> {{ expert.bio }}</div>
            </div>

        </div>
             
        </div>
            {% endif %}

        {% endif %}

        {% endfor %}

 

        {% endblock %}
    </div>
    
</div>
