{% extends 'layout.html' %}
{% load static %}

{% block title %}Browse our experts{% endblock %}

{% block content %}

<div class="container-fluid search">
    <div class="container" id="search_form">
         <div class="row">
        <div class="col-md-6">
            <form class="form-group"  action="{% url 'search:search_users' %}" method="GET" >
            <div class="input-group browse">
               
<!--                    <div class="input-group-text bg-white border-right-0"><i class="fa fa-search"></i></div>-->
              
                <input class="form-control" type="search" name="q" value="{{request.GET.q}}" id="example-search-input" placeholder="Enter a skill, technique, software or area of expertise">
               
                <button class="btn btn-outline-secondary border-left-0 border" type="submit" name="submit" value="Search">
                    Search
                </button>
           
            </div>
                  </form>
                </div>
         <div class="request_expert">   
              
               <p class="request_expert">Can't find what you're looking for?</p>  
                
              <form class="form-group"  action="{% url 'booking:request_expert' %}" method="GET">  
                 
                <button class="booking_button" type="submit" name="submit" value="Search">
                Request an Expert
                </button></form>
        </div>
    </div>
        </div>
        
        <div class="container" id="search_results">

        {% for result in object_list %}
              {% if result.profile_approved == True %}  

        <div class="container" id="search_hit">
        <div class="container" id="expert">
            {% if result.image %}
            <div>
                <img class="profile_image" src="{{ result.image.url }}" width="100"/>
            </div>
            {% endif %}
            <div class="container user_name">
        <!-- added an if statement so that if not logged in then you can't click on expert profile because of bug -->
                
            {% if user.is_authenticated %}
            <p class="profile_name results"><a class="profile_name" href="{% url 'profile_with_pk' pk=result.pk %}">{{ result.first_name }}&nbsp{{ result.last_name }}</a></p>
            {% else %}
                
                 <p class="profile_name results"><a class="profile_name" href="{% url 'signup' %}">{{ result.first_name }}&nbsp{{ result.last_name }}</a></p>  
             {% endif %}
            <p class="profile_text results">{{result.position}}</p>
<!--            <p class="profile_text">Skills:&nbsp{{user.skills.all|join:", "}}</p>-->
        
             
                <div class="container skills">
                {% for skill in result.skills.all %}
                    <a class="skill_bubble" href="{% url 'skills' skill.name %}"><div class="skill_bubble"><p class="skill_bubble">{{ skill.name }}</p></div></a>
                {% endfor %}
                
                </div>
                 <div class="browse_bio"> {{ result.bio }}</div>
            </div>

        </div>
        </div>


{% endif %}
        {% endfor %}

 </div>
        {% if is_paginated %}
    <div class="text-xs-center">
  <ul class="pagination pagination-lg justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page"><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>
    {% else %}
      <li class="disabled page"><span>&laquo;</span></li>
    {% endif %}
    {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
        <li class="active page"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
      {% else %}
        <li class="page"><a href="?page={{ i }}">{{ i }}</a></li>
      {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}
      <li class="page"><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>
    {% else %}
      <li class="disabled page"><span>&raquo;</span></li>
    {% endif %}
  </ul>
{% endif %}
        </div>
</div>
        {% endblock %}
    
    
