{% extends 'layout.html' %}
{% load static %}

{% block title %}Browse our experts{% endblock %}

{% block content %}

<div class="container-fluid search">
        <div class="container" id="search_form">
        <div class="row">
        <div class="col-md-6">
            <h3 id="search_call_to_action">Find a scientist</h3>
            <form class="form-group"  action="{% url 'search:search_users' %}" method="GET" >
            <div class="input-group">
                <span class="input-group-prepend">
                    <div class="input-group-text bg-white border-right-0"><i class="fa fa-search"></i></div>
                </span>
                <input class="form-control form-control-lg border-left-0 border" type="search" name="q" value="{{request.GET.q}}" id="example-search-input" placeholder="Enter a skill, technique, software or area of expertise">
                <span class="input-group-append">
                <button class="btn btn-outline-secondary border-left-0 border" type="submit" name="submit" value="Search">
                    Search
                </button>
              </span>
            </div>
                </form>
        </div>
    </div>
        </div>
        
        <div class="container" id="search_results">

        {% for result in object_list %}

        <div class="container" id="search_hit">
        <div class="container" id="expert">
            {% if result.image %}
            <div>
                <img class="profile_image" src="{{ result.image.url }}" width="100"/>
            </div>
            {% endif %}
            <div class="container user_name">
            <p class="profile_name"><a href="{% url 'profile_with_pk' pk=result.pk %}">{{ result.first_name }}&nbsp{{ result.last_name }}</a></p>
            <p class="profile_text">{{result.position}}</p>
<!--            <p class="profile_text">Skills:&nbsp{{user.skills.all|join:", "}}</p>-->
        
                
                <div class="container skills">
                {% for skill in result.skills.all %}
                <div class="skill_bubble"><a href="{% url 'skills' skill.name %}"><p class="skill_bubble">{{ skill.name }}</p></a></div>
                    {% endfor %}
                
                </div>
                 <div class="browse_bio"> {{ result.bio }}</div>
            </div>

        </div>
        </div>



        {% endfor %}

 </div>
</div>
        {% endblock %}
    
    
