{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Edit Profile{% endblock %}

{% block content %}


<div class="container-fluid booking">
    
<form  class="form-group booking_form"  method="post">
      {% csrf_token %}
    <div class="container" id="booking_form">

<!--Profile Intro section part 2--> 
        {% if user.profile_under_review == False and user.profile_approved == False %}
<div class="container" id="booking_form_text"><h3 class="booking_form_text">Complete Your Profile</h3></div>
        {% else %}
<div class="container" id="booking_form_text"><h3 class="booking_form_text">Edit Your Profile</h3></div>
        {% endif %}
<h3 class="edit_profile_subheading">Profile Intro</h3>
        
       
          {{ form.username.label_tag }}
          {% render_field form.username class="form-control" %}
          {% if form.username.help_text %}
        <small class="form-text text-muted">{{ form.username.help_text |safe }}</small>
          {% endif %}
      <a href="{% url 'change_password' %}"><p>Change Password</p></a>
    <div class="divider" id="edit_profile"></div>   
        
        
        
          {{ form.position.label_tag }}
          {% render_field form.position class="form-control" %}
          {% if form.position.help_text %}
        <small class="form-text text-muted">{{ form.position.help_text |safe }}</small>
          {% endif %}
          {{ form.website.label_tag }}
          {% render_field form.website class="form-control" %}
          {% if form.website.help_text %}
        <small class="form-text text-muted">{{ form.website.help_text |safe }}</small>
          {% endif %}

          {{ form.bio.label_tag }}
          {% render_field form.bio class="form-control" %}
          {% if form.bio.help_text %}
        <small class="form-text text-muted">{{ form.bio.help_text |safe }}</small>
          {% endif %}
          {{ form.skills.label_tag }}
          {% render_field form.skills class="form-control" %}
          {% if form.skills.help_text %}
        <small class="form-text text-muted">{{ form.skills.help_text |safe }}</small>
          {% endif %}
<!-- collapsible software/ harware section -->     
<a class="btn btn-primary" data-toggle="collapse" href="#collapse_software_hardware" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Add Software or Hardware
  </a>
        <div class="collapse" id="collapse_software_hardware">
          {{ form.software_hardware.label_tag }}
          {% render_field form.software_hardware class="form-control" %}
          {% if form.software_hardware.help_text %}
        <small class="form-text text-muted">{{ form.software_hardware.help_text |safe }}</small>
          {% endif %}
          {{ form.software_hardware_intermediate.label_tag }}
          {% render_field form.software_hardware_intermediate class="form-control" %}
          {% if form.software_hardware_intermediate.help_text %}
        <small class="form-text text-muted">{{ form.software_hardware_intermediate.help_text |safe }}</small>
          {% endif %}
    </div>
        <div><button type="submit" name="save_continue" class="btn btn-primary edit_profile">Save Profile Intro</button></div>
         
    </div>
   
    

    <div class="container" id="booking_form">  
    <h3 class="edit_profile_subheading">Your Skills in Detail</h3>
        <p><strong>Add up to 5 of your top skills/areas of expertise.</strong> For each skill, briefly describe how you can help or advise on the topic and the experience(s) that allowed you to gain or demonstrate the skill (see examples below)</p>
        <p><strong>NOTE: At least one skill area is required to submit your profile for review</strong></p>
        
          {{ form.skill_area1_title.label_tag }}
          {% render_field form.skill_area1_title class="form-control" %}
          {% if form.skill_area1_title.help_text %}
        <small class="form-text text-muted">{{ form.skill_area1_title.help_text |safe }}</small>
          {% endif %}
         {{ form.skill_area1.label_tag }}
          {% render_field form.skill_area1 class="form-control" %}
          {% if form.skill_area1.help_text %}
        <small class="form-text text-muted">{{ form.skill_area1.help_text |safe }}</small>
          {% endif %}
         <div><button type="submit" name="save_continue" class="btn btn-primary edit_profile">Save Skill Area</button></div>
        <p>Add or edit additional skill areas <strong>*Optional*</strong></p>
{% if user.skill_area2_title == Blank and user.skill_area2 == Blank %}
<a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill2" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Add Skill Area 2
  </a>
{% else %}
<a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill2" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Edit Skill Area 2
  </a>
    {% endif %}
        <div class="collapse" id="collapse_skill2">
          {{ form.skill_area2_title.label_tag }}
          {% render_field form.skill_area2_title class="form-control" %}
          {% if form.skill_area2_title.help_text %}
        <small class="form-text text-muted">{{ form.skill_area2_title.help_text |safe }}</small>
          {% endif %}
         {{ form.skill_area2.label_tag }}
          {% render_field form.skill_area2 class="form-control" %}
          {% if form.skill_area2.help_text %}
        <small class="form-text text-muted">{{ form.skill_area2.help_text |safe }}</small>
          {% endif %}
        <div><button type="submit" name="save_continue" class="btn btn-primary edit_profile">Save Skill Area</button></div>
        </div>

{% if user.skill_area3_title == Blank and user.skill_area3 == Blank %}
        
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill3" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Add Skill Area 3
  </a> 
    {% else %}
<a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill3" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Edit Skill Area 3
  </a>
    {% endif %}
        <div class="collapse" id="collapse_skill3">
         {{ form.skill_area3_title.label_tag }}
          {% render_field form.skill_area3_title class="form-control" %}
          {% if form.skill_area3_title.help_text %}
        <small class="form-text text-muted">{{ form.skill_area3_title.help_text |safe }}</small>
          {% endif %}
        {{ form.skill_area3.label_tag }}
          {% render_field form.skill_area3 class="form-control" %}
          {% if form.skill_area3.help_text %}
        <small class="form-text text-muted">{{ form.skill_area3.help_text |safe }}</small>
          {% endif %}
            <div><button type="submit" name="save_continue" class="btn btn-primary edit_profile">Save Skill Area</button></div>
        </div>

{% if user.skill_area4_title == Blank and user.skill_area4 == Blank %}
        
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill4" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Add Skill Area 4
  </a> 
    {% else %}
<a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill4" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Edit Skill Area 4
  </a>
    {% endif %}
        <div class="collapse" id="collapse_skill4">
         {{ form.skill_area4_title.label_tag }}
          {% render_field form.skill_area4_title class="form-control" %}
          {% if form.skill_area4_title.help_text %}
        <small class="form-text text-muted">{{ form.skill_area4_title.help_text |safe }}</small>
          {% endif %}
        {{ form.skill_area4.label_tag }}
          {% render_field form.skill_area4 class="form-control" %}
          {% if form.skill_area4.help_text %}
        <small class="form-text text-muted">{{ form.skill_area4.help_text |safe }}</small>
          {% endif %}
            <div><button type="submit" name="save_continue" class="btn btn-primary edit_profile">Save Skill Area</button></div>
        </div>

{% if user.skill_area5_title == Blank and user.skill_area5 == Blank %}
        
  <a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill5" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Add Skill Area 5
  </a> 
    {% else %}
<a class="btn btn-primary" data-toggle="collapse" href="#collapse_skill5" role="button" aria-expanded="false" aria-controls="collapseExample">
    + Edit Skill Area 5
  </a>
    {% endif %}
        <div class="collapse" id="collapse_skill5">
         {{ form.skill_area5_title.label_tag }}
          {% render_field form.skill_area5_title class="form-control" %}
          {% if form.skill_area5_title.help_text %}
        <small class="form-text text-muted">{{ form.skill_area5_title.help_text |safe }}</small>
          {% endif %}
        {{ form.skill_area5.label_tag }}
          {% render_field form.skill_area5 class="form-control" %}
          {% if form.skill_area5.help_text %}
        <small class="form-text text-muted">{{ form.skill_area5.help_text |safe }}</small>
          {% endif %}
            
        
            <div><button type="submit" name="save_continue" class="btn btn-primary edit_profile">Save Skill Area</button></div>
        </div>
        {% if user.profile_approved == False and user.profile_under_review == False %}
        <div><button type="submit" name="save_continue" class="btn booking_button">Save Profile</button></div>
        {% else %}
         <div><button type="submit" name="save_submit" class="btn booking_button">Save Profile</button></div>
        {% endif %}
       
    </div>
    </form>
    
    {% if user.profile_approved == False and user.profile_under_review == False %}
    <div class="container" id="booking_form">  
    <h3 class="edit_profile_subheading">Submit Your Profile for Review</h3>
        <p>Once the information above is saved and complete, submit your expert profile for review.</p>
   
         <div><a href="{% url 'submit_profile' %}"><button type="submit" class="btn booking_button">Submit Profile for Review</button></a></div> 
       {% endif %}
    </div>
        
        
    </div>     
               




{% endblock %}