{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Edit Rate and Availability{% endblock %}

{% block content %}


<div class="container-fluid booking">


    
<form  class="form-group booking_form"  method="post">
      {% csrf_token %}
    <div class="container" id="booking_form">

    <h3 class="edit_profile_subheading">Rates and Availability</h3>
        {{ form_two.rate.label_tag }}
          {% render_field form_two.rate class="form-control" %}
          {% if form_two.rate.help_text %}
        <small class="form-text text-muted">{{ form_two.rate.help_text |safe }}</small>
          {% endif %}
        {{ form_two.availability.label_tag }}
          {% render_field form_two.availability class="form-control" %}
          {% if form_two.availability.help_text %}
        <small class="form-text text-muted">{{ form_two.availability.help_text |safe }}</small>
          {% endif %}
     <button type="submit" class="btn btn-primary edit_profile">Save</button>
    </div>
     </form>
   
    
    

    

        
    </div>     
               




{% endblock %}