{% extends 'layout.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}Edit Profile{% endblock %}

{% block content %}


<div class="container-fluid booking">


    
<!--
<form class ="signup_form" method="post">
      {% csrf_token %}

    <div class="form-group booking_form">
     {% for field in form.visible_fields %}
      {{ field.label_tag }}
      {% render_field field class="form-control" %}
      {% if field.help_text %}
    <small class="form-text text-muted">{{ field.help_text |safe }}</small>
      {% endif %}
    {% endfor %}
     <a href="{% url 'change_password' %}"><p>Change Password</p></a>
     <button type="submit" class="btn btn-primary">Save Changes</button>
    
  </div>
</form>
    
-->
 
    
<form  class="form-group booking_form"  method="post">
      {% csrf_token %}
    <div class="container" id="booking_form">

    <h3 class="edit_profile_subheading">Complete Your Profile Information</h3>
          {{ form.username.label_tag }}
          {% render_field form.username class="form-control" %}
          {% if form.username.help_text %}
        <small class="form-text text-muted">{{ form.username.help_text |safe }}</small>
          {% endif %}
      <a href="{% url 'change_password' %}"><p>Change Password</p></a>
          {{ form.position.label_tag }}
          {% render_field form.position class="form-control" %}
          {% if form.position.help_text %}
        <small class="form-text text-muted">{{ form.position.help_text |safe }}</small>
          {% endif %}
          {{ form.website.label_tag }}
          {% render_field form.website class="form-control" %}
          {% if form.website.help_text %}
        <small class="form-text text-muted">{{ form.website.help_text |safe }}</small>
          {% endif %}
         <button type="submit" class="btn btn-primary edit_profile">Save this Section</button>
    </div>
    
    <div class="container" id="booking_form">
    <h3 class="edit_profile_subheading">Skill Overview</h3>
          {{ form.bio.label_tag }}
          {% render_field form.bio class="form-control" %}
          {% if form.bio.help_text %}
        <small class="form-text text-muted">{{ form.bio.help_text |safe }}</small>
          {% endif %}
          {{ form.skills.label_tag }}
          {% render_field form.skills class="form-control" %}
          {% if form.skills.help_text %}
        <small class="form-text text-muted">{{ form.skills.help_text |safe }}</small>
          {% endif %}
          {{ form.software_hardware.label_tag }}
          {% render_field form.software_hardware class="form-control" %}
          {% if form.software_hardware.help_text %}
        <small class="form-text text-muted">{{ form.software_hardware.help_text |safe }}</small>
          {% endif %}
          {{ form.software_hardware_intermediate.label_tag }}
          {% render_field form.software_hardware_intermediate class="form-control" %}
          {% if form.software_hardware_intermediate.help_text %}
        <small class="form-text text-muted">{{ form.software_hardware_intermediate.help_text |safe }}</small>
          {% endif %}
         <button type="submit" class="btn btn-primary edit_profile">Save this Section</button>
    </div>
    
     <div class="container" id="booking_form">
    <h3 class="edit_profile_subheading">Rates and Availability</h3>
        {{ form.rate.label_tag }}
          {% render_field form.rate class="form-control" %}
          {% if form.rate.help_text %}
        <small class="form-text text-muted">{{ form.rate.help_text |safe }}</small>
          {% endif %}
        {{ form.availability.label_tag }}
          {% render_field form.availability class="form-control" %}
          {% if form.availability.help_text %}
        <small class="form-text text-muted">{{ form.availability.help_text |safe }}</small>
          {% endif %}
     <button type="submit" class="btn btn-primary edit_profile">Save this Section</button>
    </div>
     </form>
   
    
    

    
<form  class="form-group booking_form"  method="post" >
      {% csrf_token %}
    <div class="container" id="booking_form">  
    <h3 class="edit_profile_subheading">Your Skills in Detail</h3>
        <p>In this section, describe 2-5 of your top skills/areas of expertise. For each skill, briefly describe the experience(s) that allowed you to gain or demonstrate the skill (see examples below)</p>
          {{ form_two.skill_area1_title.label_tag }}
          {% render_field form_two.skill_area1_title class="form-control" %}
          {% if form_two.skill_area1_title.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area1_title.help_text |safe }}</small>
          {% endif %}
         {{ form_two.skill_area1.label_tag }}
          {% render_field form_two.skill_area1 class="form-control" %}
          {% if form_two.skill_area1.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area1.help_text |safe }}</small>
          {% endif %}
          {{ form_two.skill_area2_title.label_tag }}
          {% render_field form_two.skill_area2_title class="form-control" %}
          {% if form_two.skill_area2_title.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area2_title.help_text |safe }}</small>
          {% endif %}
         {{ form_two.skill_area2.label_tag }}
          {% render_field form_two.skill_area2 class="form-control" %}
          {% if form_two.skill_area2.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area2.help_text |safe }}</small>
          {% endif %}
         {{ form_two.skill_area3_title.label_tag }}
          {% render_field form_two.skill_area3_title class="form-control" %}
          {% if form_two.skill_area3_title.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area3_title.help_text |safe }}</small>
          {% endif %}
        {{ form_two.skill_area3.label_tag }}
          {% render_field form_two.skill_area3 class="form-control" %}
          {% if form_two.skill_area3.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area3.help_text |safe }}</small>
          {% endif %}
        {{ form_two.skill_area4_title.label_tag }}
          {% render_field form_two.skill_area4_title class="form-control" %}
          {% if form_two.skill_area4_title.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area4_title.help_text |safe }}</small>
          {% endif %}
        {{ form_two.skill_area4.label_tag }}
          {% render_field form_two.skill_area4 class="form-control" %}
          {% if form_two.skill_area4.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area4.help_text |safe }}</small>
          {% endif %}
         {{ form_two.skill_area5_title.label_tag }}
          {% render_field form_two.skill_area5_title class="form-control" %}
          {% if form_two.skill_area5_title.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area5_title.help_text |safe }}</small>
          {% endif %}
         {{ form_two.skill_area5.label_tag }}
          {% render_field form_two.skill_area5 class="form-control" %}
          {% if form_two.skill_area5.help_text %}
        <small class="form-text text-muted">{{ form_two.skill_area5.help_text |safe }}</small>
          {% endif %}
    <h3 class="edit_profile_subheading">Group Sessions and Tutorials</h3>
        {{ form_two.gives_tutorials.label_tag }}
          {% render_field form_two.gives_tutorials class="form-control" %}
          {% if form_two.gives_tutorials.help_text %}
        <small class="form-text text-muted">{{ form_two.gives_tutorials.help_text |safe }}</small>
          {% endif %}
        {{ form_two.tutorial_area.label_tag }}
          {% render_field form_two.tutorial_area class="form-control" %}
          {% if form_two.tutorial_area.help_text %}
        <small class="form-text text-muted">{{ form_two.tutorial_area.help_text |safe }}</small>
          {% endif %}
   {% if profile_approved == False or profile_under_review == False %}
         <h3 class="edit_profile_subheading">Submit Profile for Review</h3>
          {{ form_two.profile_under_review.label_tag }}
          {% render_field form_two.profile_under_review class="form-control" %}
          {% if form_two.profile_under_review.help_text %}
        <small class="form-text text-muted">{{ form_two.profile_under_review.help_text |safe }}</small>
          {% endif %}
        {% endif %}

     {% if profile_approved == False or profile_under_review == False %}
         <button type="submit" class="btn btn-primary edit_profile">Save this Section and Submit Profile</button>
        {% else %}
        <button type="submit" class="btn btn-primary edit_profile">Save this Section and Submit</button>
        {% endif %}
    
    </div>
</form>
        
    </div>     
               




{% endblock %}