{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

           
    <div class="row pt-5" id ="first_section_row">
        <div class="container" id="site_container">
    
            <div class="container" id="vision">
            <div class ="container" id="vision_text">
                <h1 class="value_prop">Solve your research problems faster</h1>
                <p class="vision_blurb">Connect with a researcher who has the expertise you need.<br>Sign up for Scipertise and do better research, faster.</p>
                <p class="advice_blurb">Get insights on: <br> experimental models  |  software  |  lab techniques  |  equipment  |   data analysis</p>
            </div>
            
    
            </div>
            <div class = "container" id="call_to_action">
                <form>
                    {% if user.is_authenticated %}
                    <a href="{% url 'search:search_users' %}"><button type="button" class="btn btn-primary" id ="call_to_action">Find Expertise</button></a>
                    {% else %}
                    <a href="{% url 'signup' %}"><button type="button" class="btn btn-primary" id ="call_to_action">Sign Up for a Free Account</button></a>
                    {% endif %}
                </form>
            </div>
        
        </div>
        
        </div> 

{% endblock %}