{% extends 'layout.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}

<div class="container-fluid" id="profile_container">
    <div class="container" id = "profile_intro">
        <div class="container" id="expert">
            {% if user.image %}
            <div>
                <img class="profile_image" src="{{ user.image.url }}" width="180"/>
            </div>
            {% endif %}
            <div>
            <p class="profile_name">{{ user.first_name }}&nbsp{{ user.last_name }}</p>
            <p class="profile_text">{{user.position}}</p>
<!--            <p class="profile_text">Skills:&nbsp{{user.skills.all|join:", "}}</p>-->
        
                
                <div class="container skills">
                {% for skill in user.skills.all %}
                <div class="skill_bubble"><p class="skill_bubble">{{ skill.name }}</p></div>
                {% endfor %}
                </div>
                
<!--                {{user.skills.all|join:", "}}-->

            </div>
        </div>
        
        <div class="container" id="availability">
            <p>Availability: Tuesday and Wednesday evenings</p>
            <p>Rate: $60/ hour</p>
            <a href="{% url 'booking:user_booking_new' pk=user.pk %}"><button type="submit" class="availability_button">Request to Book</button></a><br>
            <p>or <a href="#">See My Available Tutorials</a></p>
        </div>
        
    </div>
     <div class="container" id="profile_content">
         <h4 class="bio_title">My expertise:</h4><br><p class="profile_text">{{ user.bio }}</p><br>
         {% if user.skill_area1 %}
         <h4 class="bio_title">Top Skill Area:</h4><br><p class="profile_text">{{ user.skill_area1 }}</p><br>
         {% endif %}
          {% if user.skill_area2 %}
          <h4 class="bio_title">Skill Area 2:</h4><br><p class="profile_text">{{ user.skill_area2 }}</p><br>
           {% endif %}
          {% if user.skill_area3 %}
          <h4 class="bio_title">Skill Area 3:</h4><br><p class="profile_text">{{ user.skill_area3 }}</p><br>
         {% endif %}
           {% if user.skill_area4 %}
          <h4 class="bio_title">Skill Area 4:</h4><br><p class="profile_text">{{ user.skill_area4 }}</p><br>
            {% endif %}
           {% if user.skill_area5 %}
          <h4 class="bio_title">Skill Area 5:</h4><br><p class="profile_text">{{ user.skill_area5 }}</p><br>
          {% endif %}
       
    </div>
<!--
{% if user == request.user and request.user.is_authenticated %}

<div class ="container" id="edit_profile_button">
    <a href="{% url 'edit_profile' %}"><button type="submit" class="btn btn-primary">Edit Profile</button></a>
</div>
{% endif %}
-->
    
{% if user.bookings %}
    
<div class="container" id="profile_content">   
<h4 class="bio_title">{{user.first_name}}'s Scheduled Tutorials</h4>
{% for booking in user.bookings.all %}
<div class="container" id="tutorials">
    <div class="container card">
        <h5 class="card-title"><a href="{% url 'booking:booking_detail' pk=booking.pk %}">{{ booking.title }}</a></h5>
        <p class="card-text">Description of the tutorial to join</p>
    </div>
</div>


{% endfor %}
</div>
    
{% endif %}
</div>




{% endblock %}