{% extends 'layout.html' %}
{% load static %}

{% block title %}Search{% endblock %}

{% block content %}

<div class="container-fluid search">
    <div class="container" id="search_form">
            <form class="form-group" action="{% url 'search:search_users' %}" method="GET" value="{{request.GET.q}}">
            <h3 id="search_call_to_action">Search for a Researcher by Skill:</h3><br>
                <input class="form-control form-control-lg" type="text" name="q" value="{{request.GET.q}}" placeholder="Find expertise"/>
                <button class="availability_button" type="submit" name="submit" value="Search">Search</button>
            </form>
        </div>

        {% if submitbutton == 'Search' and request.GET.q != '' %}
        {% if results %}
        
        <div class="container" id="search_results">
        <h3>Researchers Matching "<b>{{ request.GET.q }}</b>"</h3>
        <br/><br/>

        {% for result in results %}

        <div class="container" id="search_hit">
         <h3><a href="{% url 'profile_with_pk' pk=result.pk %}">{{result.first_name}}&nbsp{{result.last_name}}</a></h3><br>
        {{result.position}}<br><br>
        <p>Expertise:</p>{{result.bio}}<br><br>
<!--        <p>Skills:</p>{{result.skills.all|join:", "}}-->
           <div class="container skills">
                {% for skill in result.skills.all %}
                <div class="skill_bubble"><p class="skill_bubble">{{ skill.name }}</p></div>
                {% endfor %}
                </div>
        <br/>

        <br/>
        </div>



        {% endfor %}
        {% else %}
        No search results for this query
        {% endif %}
        {% endif %}

        {% endblock %}
    </div>
    
</div>
