{% extends 'layout.html' %}
{% load static %}

{% block title %}Sign Up{% endblock %}

{% block content %}


<div class="container" id="signup">
    <div class="signup_bgrd">
            <h4>Sign up to find expertise</h4>
         <form class="signup_form" action="" method="POST">
             {% csrf_token %}
             {{ form.as_p }}
            <!--    <p class="form_text" label="First Name">First Name:</p>
                 {{ form.first_name }}
                <p class="form_text" label="Last Name">Last Name:</p>
                 {{ form.last_name }}
                <p class="form_text" label="Email">Email:</p>
                 {{ form.email  }}
                <p class="form_text" label="Password">Password:</p>
                 {{ form.password1 }}
                 <br>  -->   
      <button type="submit" class="btn btn-primary">Sign up</button>
               </form>
    </div>


</div>



{% endblock %}